<h1><%=t(:title_contact) %></h1>
<p><%= t(:first_p_contact)%></p>
<p><%= t(:second_p_contact)%></p>
<ul class="social-media">
  <li>
    <a href="http://twitter.com/marianahj">
      <%= image_tag 'twitter.jpg' %>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/marianahj">
      <%= image_tag 'linkedin.jpg' %></a>
  </li>
</ul>
