<%= yield '_header' %>
<h1> <%=t(:title_education) %> </h1>
<p> <%=t(:first_p_education) %></p>
<p> <%=t(:second_p_education) %></p>
<ol>
  <li> <%=t(:first_bullet_education) %></li>
  <li> <%=t(:second_bullet_education) %></li>
  <li> <%=t(:third_bullet_education) %></li>
</ol>
