<h1> <%= t(:title_experience) %> </h1>

<p> <%= t(:first_p_experience) %> </p>

<p> <%= t(:second_p_experience) %> </p>

<ol>
  <li> <%= t(:first_bullet_experience) %> </li>
  <li> <%= t(:second_bullet_experience) %> </li>
</ol>

<p> <%= t(:third_p_experience) %> </p>
<p> <%= t(:fourth_p_experience) %> </p>

<p> <%= t(:first_span_experience) %> </p>
<p> <%= t(:second_span_experience) %> </p>
<p> <%= t(:third_span_experience) %> </p>
