<!DOCTYPE html>
<html>
  <head>
    <title>PersonalPage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- unless current_page?('/') %>
    <ul class="main-menu">
      <li>
        <%= link_to t(:title_contact), contact_path%>
      </li>
      <li>
        <%= link_to t(:title_education), education_path%>
      </li>
      <li>
        <%= link_to t(:title_experience), experience_path%>
      </li>
      <li>
        <%= link_to t(:title_about_me), about_me_path%>
      </li>
    </ul>
    <%- end %>
    <%= yield %>
  </body>
</html>
